<!DOCTYPE html>
<html lang="es">
    <head>
        
        <meta charset="utf-8" />
        
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style2.css' %}" />
        
        
    </head>
    <body>
        
        <header>
            <div style="display: flex;
            justify-content: center;
            align-items: center;">
                <img style="display: block;
                max-width: 50%;
                max-height: 50%;" src="{% static 'imagenes/logo.png' %}" />
         
            </div>
            </header>
            <nav>
            <ul>
                <li>
                    <a href="{% url 'inicio' %}"> Inicio</a>
                    </li>
                 
            </ul>
            </nav>
            <div class="barra">
                <span class="esquina-izquierda"></span>
                <span class="relleno-barra"></span>
                <span class="esquina-derecha"></span>
            </div>
            <div id="content">
                <div class="box">
                    {% block content %}
                    <strong> Contenido en layout (Padre) </strong>
                    {% endblock %}
                    </div>
            </div>
            <footer>
                UNTELS - LP3 &copy;  {% now "d/m/Y h:m:s" %}
                    
    </body>
</html>